*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul li{
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  position: relative;
  background-color: rgb(173, 161, 118);
  color: white;
}

ul li i{
  float: right;
  padding-right: 10px;
}

ul li i:hover{
  cursor: pointer;
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container{
  width: 70%;
  margin: 50px 0;
  border: 3px solid brown;
  border-radius: 10px;
  padding: 20px;
}

#root div h2{
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(116, 62, 24);
  color: rgb(228, 213, 54);
}

div.logo{
  width: 100%;
  text-align: center;
  background-color: rgb(173, 161, 118);
}

div.logo img{
  height: 150px;
}
