<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css\style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  <title>Document</title>
</head>
<body>

  <div id="root">
    <!-- LOGO -->
    <div class="logo">
      <img src="img\logo.png" alt="logo">
    </div>
    <!-- LOGO -->

    <!-- INSERIMENTO -->
    <div class="inserimento container">
      <h2>AGGIUNGI UN PERSONAGGIO</h2>
      <div class="ins">
        <input id="ins" type="text" placeholder="Nuovo personaggio..." v-model="eroe" v-on:keyup.enter="addMain(eroe)">
        <button type="button" @click="addMain(eroe)" >AGGIUNGI</button>
      </div>
    </div>
    <!-- INSERIMENTO -->

    <!-- LISTA PRINCIPALE -->
    <div class="mainList container">
      <h2>PERSONAGGI A DISPOSIZIONE</h2>
      <i id="sposta" class="fas fa-trash-alt sconto" @click="spostaAll"></i>
      <ul>
        <li v-for="(eroi, index) in personaggi">
          <span>{{index + 1 + ": " + eroi}}</span>
          <i class="fas fa-times" @click="toDelete(index)" :title="index"></i>
          <i class="fas fa-pen" @click="modify(index)" :title="index"></i>
        </li>
      </ul>
    </div>
    <!-- LISTA PRINCIPALE -->

    <!-- LISTA ELEMENTI ELIMINATI -->
    <div class="deletedList container">
      <h2>PERSONAGGI CHE HAI ELIMINATO</h2>
      <i id="cestin" class="fas fa-trash-alt sconto" @click="destructAll"></i>
      <ul>
        <li v-for="(eroi, index) in personaggiEliminati">
          <span>{{index + 1 + ": " + eroi}}</span>
          <i class="fas fa-times"  @click="destruct(index)" :title="index"></i>
          <i class="fas fa-user-plus" @click="toMain(index)" :title="index"></i>
        </li>
      </ul>
    </div>
    <!-- LISTA ELEMENTI ELIMINATI -->

  </div>

  <script src="js\script.js"></script>

</body>
</html>
